@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #c00003;
  --textColor: #eee;
}

.image {
  height: 50px;
  width: auto;
}
